* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

.showcase-container {
  background-image: url(imgs/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 160px;
}

.showcase-container-content {
  max-width: 1120px;
  margin: auto;
  position: relative;
}

.showcase-container-content > img {
  position: absolute;
  top: 60px;
  right: -50px;
}

/* Navbar */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar-container ul li {
  margin-right: 64px;
}

.navbar-container ul li:last-child {
  margin-right: 0;
}

.navbar-container ul li a {
  color: #61646b;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-container ul li a:hover {
  font-size: 1.6rem;
  transition: all ease-in 0.3s;
}

.navbar-button {
  padding: 17px 50px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #eef4ff;
  color: #3e3fd8;
  font-size: 1.125rem;
  cursor: pointer;
}
.navbar-button:hover {
  color: #eef4ff;
  background-color: #3e3fd8;
  transition: all ease-in-out 0.5s;
}

/* Showcase */

.showcase-content h1 {
  max-width: 550px;
  font-size: 4rem;
  color: #2e323b;
}

.showcase-content p {
  max-width: 455px;
  margin-bottom: 10px;
}

.showcase-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 108px;
}

.showcase-buttons > button > i {
  margin-left: 15px;
  background-color: #eef4ff;
  color: black;
  padding: 7px;
  border-radius: 5px;
}

.showcase-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3fd8;
  color: #eef4ff;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 17px 23px;
  cursor: pointer;
}

.showcase-video-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-video-button button {
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  position: relative;
}

.showcase-video-button button i {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 14px;
  left: 14px;
}

.showcase-video-button label {
  margin-right: 38px;
  color: #61646b;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.showcase-buttons div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eef4ff;
  border-radius: 20px;
  padding: 22px 44px;
  box-shadow: 0 0 15px 1px #00000025;
}

.showcase-buttons div span {
  color: #2e323b;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Clientes*/
.clients-container {
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.clients-container h2 {
  margin-top: 80px;
}

.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.clients img {
  width: 150px;
}

/* Next Level Section */
.next-level-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.next-level-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 40px;
  max-width: 460px;
}

.next-level-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.next-level-item-text {
  margin-left: 20px;
}

.next-level-item-text p {
  font-size: 1.125rem;
  color: #61646b;
}

.scheduling {
  background-color: #50cb93;
}
.reminder {
  background-color: #ff3d68;
}
.shop {
  background-color: #7d83fc;
}

.next-level-right img {
  width: 450px;
}

/* Boos Business */
.boost-business-container {
  text-align: center;
}

.boost-business-container h2 {
  max-width: 420px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
.boost-business-container > p {
  max-width: 360px;
  margin: auto;
  width: 100%;
}

.boost-business-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-top: 40px;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.boost-business-card {
  max-width: 360px;
  text-align: start;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  padding: 30px;
  padding-bottom: 50px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.boost-business-card:first-child:hover {
  border: 2px solid #50cb93;
  box-shadow: 0px 0px 15px 10px rgba(80, 203, 148, 0.4);
  transition: all ease 0.3s;
}
.boost-business-card:nth-child(2):hover {
  border: 2px solid #7d83fc;
  box-shadow: 0px 0px 15px 10px rgba(125, 131, 252, 0.4);
  transition: all ease 0.3s;
}
.boost-business-card:last-child:hover {
  border: 2px solid #ff3d68;
  box-shadow: 0px 0px 15px 10px rgba(255, 61, 103, 0.4);
  transition: all ease 0.3s;
}

.boost-business-card i {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  margin-bottom: 20px;
}
.boost-business-card p {
  margin-bottom: 20px;
}

.boost-business-card a {
  color: #3e3fd8;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.boost-business-card a::after {
  content: " ➔";
  position: absolute;
  top: 2px;
  left: 85px;
}

/* Solutions section */
.solutions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.solutions-container img {
  max-width: 600px;
}

.solutions-content > h2 {
  margin-bottom: 20px;
}

.solutions-content > p {
  margin-bottom: 40px;
}

.solutions-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.total-clients,
.total-projects {
  position: relative;
  border-radius: 25px;
  padding: 10px 35px 20px;
  background-color: rgb(252, 221, 236, 0.5);
}

.total-clients span {
  font-size: 3rem;
  color: #ff3d68;
  font-weight: bold;
}

.total-projects span {
  font-size: 3rem;
  color: #3e3fd8;
  font-weight: bold;
}

.total-clients p,
.total-projects p {
  color: #2e323b !important;
  position: absolute;
  top: 60px;
  left: 40px;
}

/* Testemonials section */
.testemonials-container {
  text-align: center;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.testemonials-container-title {
  color: #3e3fd8;
  letter-spacing: 0.7rem;
  font-size: 1.5rem;
}

.testemonials-container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.testemonials-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  column-gap: 20px;
}
.testemonial-card {
  max-width: 360px;
  padding: 30px 30px 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid #00000000;
}

.testemonial-card:hover {
  border: 2px solid #3e3fd8;
  box-shadow: 0px 0px 15px 10px rgba(62, 62, 216, 0.2);
  padding: 32px 32px 42px;
  transition: all ease 0.5s;
}

.deponent-informations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.informations-text {
  display: flex;
  flex-direction: column;
}

.deponent-name {
  font-size: 1.5rem;
}

/* News section */
.news-container {
  text-align: center;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid hsla(222, 12%, 21%, 0.25);
}

.news-container h2 {
  margin-bottom: 20px;
}

.news-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.news-card {
  text-align: start;
  border: 2px solid #3e3fd8;
  border-radius: 20px;
  padding: 20px 20px 40px;
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.news-card img {
  border-radius: 20px;
}

.news-publish-information {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #61646b;
  font-size: 1.125rem;
}

/* Newsletter */
.newsletter-container {
  text-align: center;
  margin-bottom: 80px;
}
.newsletter-container span {
  display: block;
  color: #3e3fd8;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.newsletter-container h2 {
  margin-bottom: 20px;
}

.newsletter-container p {
  margin-bottom: 40px !important;
}

.newsletter-form {
  position: relative;
  max-width: 785px;
  margin: 0 auto;
  padding: 0 10px;
}

.newsletter-form input {
  font-size: 1.5rem;
  border: 2px solid #61646b;
  outline: none;
  padding: 20px 50px;
  border-radius: 50px;
  width: 100%;
}
.newsletter-form button {
  background-color: #3e3fd8;
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  outline: none;
  position: absolute;
  bottom: 7px;
  right: 18px;
  cursor: pointer;
}
.newsletter-form .hidden-button {
  display: none;
}

/* Footer */
.footer-container {
  padding: 120px 0;
  background-color: #3e3fd8;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.footer-content div {
  justify-self: center;
}

.footer-content div .title {
  display: block;
  margin-bottom: 20px;
  color: white;
}

.footer-content div a {
  color: white;
  text-decoration: none;
}

.footer-content div ul {
  list-style: none;
}

.footer-content div ul li {
  margin-bottom: 10px;
}

.footer-socials {
  max-width: 345px;
  align-self: start;
}

.footer-socials p {
  color: white !important;
  margin-bottom: 20px;
}

.social-btn {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid white;
  outline: none;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* utilities */
.main-container {
  max-width: 1120px;
  margin: auto;
}

h2 {
  color: #2e323b;
  font-size: 3rem;
}

p {
  font-size: 1.125rem;
  color: #61646b;
}

.title {
  font-size: 1.5rem;
  color: #2e323b;
  font-weight: 600;
}

.card-icon {
  height: 70px;
  width: 100px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px 1px #00000025;
}

.news-container p,
.newsletter-container p {
  max-width: 490px;
  margin: auto;
  margin-bottom: 80px;
}
